@model CarrinhoCompraViewModel

<div class="container mt-4">
<div class="row checkoutForm">

    
    <div>
        <h4><ion-icon name="cart"></ion-icon>Seu carrinho de compras : </h4>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Quantidade</th>
                <th>Movie</th>
                <th class="text-right">Preço</th>
                <th class="text-right">Subtotal</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CarrinhoCompra.CarrinhoCompraItens)
            {
                <tr>
                    <td class="text-center">@item.Quantidade</td>
                    <td class="text-left">@item.Lanche.Nome</td>
                    <td class="text-right">@item.Lanche.Preco.ToString("c")</td>
                    <td class="text-right">
                        @((item.Quantidade * item.Lanche.Preco).ToString("c"))
                    </td>
                    <td class="text-center">
                        <a asp-controller="CarrinhoCompra" asp-action="RemoverItemNoCarrinhoCompra" asp-route-LancheId="@item.Lanche.Id"><ion-icon size="small" name="trash-outline"></ion-icon></a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right">Total:</td>
                <td class="text-right">
                    @Model.CarrinhoCompraTotal.ToString("c")
                </td>
            </tr>
        </tfoot>
    </table>
    <div class="text-right">
            <div class="btn-group">
                <div class="btn-group mr-2">
                <a class="btn btn-success" asp-controller="Pedido" asp-action="Checkout">Encerrar Pedido</a>
                </div>
                <div class="btn-group mr-2">
                    <a class="btn btn-success" asp-controller="Lanche" asp-action="IndexMain">Adicionar mais</a>
                </div>
            </div>
        </div>
</div>
</div>